{% if nb_pages > 1 %}
	<div class="pagination">
		{% set current_page = query_string.page is defined ? query_string.page : 1 %}
		<p class="label">Pages :</p>
		{% for i in 1..nb_pages %}
			{% set page = i %}

			{% if url_rewrite_pattern %}
				<a href="{{ url_rewrite_pattern|replace({ '_page_': page }) }}" {{ current_page == page ? "inert" }}>{{ page }}</a>
			{% else %}
				<a href="{{ base_url }}?page={{ page }}{{ extra_query_string ? "&" ~ extra_query_string : "" }}" {{ current_page == page ? "inert" }}>{{ page }}</a>
			{% endif %}
		{% endfor %}
      <select class="dropdownPagination" data-dropdown-redirect>
         {% for i in 1..nb_pages %}
            {% set page = i %}
			{% if url_rewrite_pattern %}
            	<option title="Aller à la page {{ page }}" value="{{ url_rewrite_pattern|replace({ '_page_': page }) }}" {{ current_page == page ? " selected" }}>{{ page }}</option>
			{% else %}
            	<option title="Aller à la page {{ page }}" value="{{ base_url }}?page={{ page }}&{{ extra_query_string }}" {{ current_page == page ? " selected" }}>{{ page }}</option>
			{% endif %}
         {% endfor %}
      </select>
	</div>
{% endif %}
