<div class="userCard">
	<img class="userAvatar" src="{{ user.avatar }}" alt="Image de profil de {{ user.pseudo }}">
	<div>
		<h1 class="userPseudo">{{ user.pseudo }}</h1>
		<p>Inscrit le
			<time datetime="{{user.registration_date}}">{{user.registration_date|date("d/m/Y à H:i")}}</time>
		</p>
		<p>Dernière connexion le
			<time datetime="{{user.last_connection}}">{{user.last_connection|date("d/m/Y à H:i")}}</time>
		</p>
		{% if user.advanced_features == "yes" %}
			<p>A accès aux fonctions avancées</p>
		{% endif %}
	</div>
	{% if is_current_user %}
		<div inert></div>
		<p>
			<a href="./MyAccount.php" class="link">Éditer profil</a>
		</p>
	{% endif %}
</div>
