{% extends "layouts/base.html.twig" %}
{% import "includes/_macros.html.twig" as macros %}

{% block content %}
	<div>
      {% if flash_message == "article_created" %}
			<p class="alert success">Article crée. Depuis cette page, vous pouvez définir sa structure pour ensuite le publier.</p>
		{% endif %}

		{% if flash_message == "article_updated" %}
			<p class="alert success">Article mis à jour</p>
		{% endif %}

      {% if flash_message == "article_highlighted" %}
			<p class="alert success">Article mis sur la page d'accueil</p>
		{% endif %}

      {% if flash_message == "article_not_highlighted" %}
			<p class="alert success">Article retiré de la page d'accueil</p>
		{% endif %}

		{% if flash_message == "page_deleted" %}
			<p class="alert success">Page supprimée avec succès</p>
		{% endif %}

		{% if flash_message == "page_created" %}
			<p class="alert success">Page crée avec succès</p>
		{% endif %}

		{% if flash_message == "page_updated" %}
			<p class="alert success">Page éditée avec succès</p>
		{% endif %}
		{% include "add_edit_article/article_core.html.twig" %}

		{% if type == "edit" %}
			{% include "add_edit_article/article_pages.html.twig" %}
         <section class="sectionBlock">
				<p class="title">Publication</p>
            <div class="content">
               {% if article.segments|length > 0 %}
                  {% if article.is_published %}
                     <p>Cet article a été publié. <a href="{{ article.preview_url }}" target="_blank" rel="noopener noreferrer">Accéder à l'article.</a></p>
                  {% else %}
                     <div class="notes">
                        <p class="title">Remarques :</p>
                        <ul>
                           <li>Cette action est irréversible</li>
                           <li>Une fois publié, vous ne pourrez pas éditer les pages de l'article</li>
                           <li>Une fois publié, vous ne pourrez pas supprimer les pages de l'article</li>
                           <li>Une fois publié, un sujet de réactions sera créé dans le même temps</li>
                        </ul>
                     </div>
                     <a href="./PublishArticle.php?id_article={{ article.id_article }}" class="primaryButton">Publier l'article</a>
                  {% endif %}
               {% else %}
                  <p class="alert info">Cet article ne possède aucune page, il ne peut pas être publié.</p>
               {% endif %}
            </div>
			</section>

         {% if article.is_published == true and user_can_highlight == true %}
            {% include "add_edit_article/article_highlight.html.twig" %}
         {% endif %}
			<section class="sectionBlock danger">
				<p class="title" style="font-style: italic;">Danger zone</p>
				<div class="content">
					<button command="show-modal" commandfor="delete-article" class="danger" type="button"><i class="icon-general_trash"></i> Supprimer l'article</button>
				</div>
			</section>
		{% endif %}
	</div>

	<dialog class="modal" id="delete-article">
      <header class="header danger">
         <p class="title">Supprimer l'article</p>
         <button class="closeModal" data-close-modal="" command="close" commandfor="delete-article">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
               <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
            </svg>
            Fermer
         </button>
      </header>

      <div class="content">
         <form method="post" action="./DeleteArticle.php?id_article={{ article.id_article }}">
            <div class="notes alert error">
               Cette action est irréversible
            </div>
            <div>
               <input type="submit" class="danger"  name="delete" class="articleDelete" value="{{ "Je souhaite supprimer l'article \"" ~ article.title ~ "\"" }}">
            </div>
         </form>
      </div>
	</dialog>

   {% if article.is_published == false %}
      <dialog class="modal" id="delete-page">
         <header class="header danger">
            <p class="title">Supprimer la page "<span></span>"</p>
            <button class="closeModal" data-close-modal="" command="close" commandfor="delete-page">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
               </svg>
               Fermer
            </button>
         </header>

         <div class="content">
            <form method="post" action="./ajax/DeleteSegment.php?id_article={{ article.id_article }}">
               <div class="notes alert error">
                  Cette action est irréversible
               </div>
               <input type="hidden" value="{{ article.id_article }}" name="id_article">
               <input type="hidden" value="" name="id_segment">
               <div>
                  <input type="submit" class="danger" name="delete" class="articleDelete" value="Je souhaite supprimer la page">
               </div>
            </form>
         </div>
      </dialog>
   {% endif %}

{% endblock %}
