{% extends "layouts/base.html.twig" %}

{% block fullWidthBanner %}
<div id="pixel-to-watch" style="position: absolute; width: 1px; height: 1px; top: 0; left: 0; background-color: transparent;"></div>

   {% if article.segments|length > 1 %}
      <div popover="manual" id="chapitrage">
         <header class="header">
            <p>Sommaire</p>
            <button aria-label="Fermer" type="button" class="close" popovertarget="chapitrage" popovertargetaction="hidden">
               ✖
            </button>
         </header>
         <ol>
         {% for segment in article.segments %}
            <li class="{{ segment.is_active ? "active" : "" }}">
               <a href="{{ segment.url }}">{{ segment.title }}</a>
            </li>
         {% endfor %}
         </ol>
      </div>
   {% endif %}
	<div class="centered extensibleHeaderWrapper" data-article-header>
   {% if article.is_published == false and article.is_my_article %}
      <p class="alert info" style="position: fixed; left: 9rem; right: 9rem; z-index: 99;">
         Cet article n'a pas encore été publié. Il n'est visible que par vous et les administrateurs.
      </p>
   {% endif %}
		<header class="extensibleHeader" style="background-image: url('{{ article.header_img }}');">
			<div class="wrapper">
				<header class="articleHeader">
               {% if article.segments|length > 1 %}
                  <button class="secondaryButton" type="button" popovertarget="chapitrage" style="position: absolute; left: 50%; translate: -50% 0; bottom: 5px;">
                     Sommaire
                  </button>
               {% endif %}
					<div class="infos">
						<h1 class="title">
                     {{ article.title }}
                     {% if article.is_my_article %}
                        {% if article.is_published %}
                           <span class="badge success" title="N'est visible que par vous">Publié</span>
                        {% else %}
                           <span class="badge info" title="N'est visible que par vous">Non publié</span>
                        {% endif %}
                     {% endif %}
                  </h1>
						<h2 class="subtitle">{{ article.subtitle }}</h2>
					</div>
               {% if article.edit_link %}
                  <div class="toolbar">
                     {% if article.edit_link %}
                        <a href="{{ article.edit_link }}"><i class="icon-general_edit"></i> <span class="not-mobile-only">Éditer mon article</span></a>
                     {% endif %}
                  </div>
               {% endif %}
				</header>
			</div>
		</header>
	</div>
{% endblock %}

{% block content %}
<div class="articleContent" data-article-content>
   <div>{{ article.content|raw }}</div>
   {% if article.segments|length > 1 %}
      <nav class="navigationPage">
         <ul>
               <li>
                  {% if article.segments[article.current_page - 1] %}
                     <a href="{{ article.segments[article.current_page - 1].url }}" class="navigationLink">
                        <i class="icon-general_previous" title="Page précédente"></i>
                        <span>
                           {{ article.segments[article.current_page - 1].title }} <br>
                           <span style="font-size: 0.85rem">Page précédente</span>
                        </span>
                     </a>
                  {% endif %}
               </li>
               <li>
                  <button class="secondaryButton" type="button" popovertarget="chapitrage">
                     Sommaire
                  </button>
               </li>
               <li>
                  {% if article.segments[article.current_page + 1] %}
                        <a href="{{ article.segments[article.current_page + 1].url }}" class="navigationLink">
                           <span>
                              {{ article.segments[article.current_page + 1].title }} <br>
                              <span style="font-size: 0.85rem">Page suivante</span>
                           </span>
                           <i class="icon-general_next" title="Page suivante"></i>
                        </a>
                  {% endif %}
               </li>
         </ul>
      </nav>
   {% endif %}
</div>
<footer class="authorContainer">
   <div class="articleContainer">
      <div class="authorPicture" style="background-image: url({{ article.author.avatar }});"></div>
      <div id="footerDetails">
         <p>
            Critique rédigée par
            <a href="https://www.jeuxredige.com/User.php?user={{ article.author.pseudo }}">{{ article.author.pseudo }}</a><br>
            Publié le
            <time datetime="{{ article.published_time }}">{{ article.published_time|date("d/m/Y \\à H\\:i\\:s") }}</time>
            {% if article.last_update_time %}
               <br>
               Édité le <time datetime="{{ article.last_update_time }}">{{ article.last_update_time|date("d/m/Y \\à H\\:i\\:s") }}</time>
            {% endif %}
         </p>
      </div>
   </div>
</footer>
{% endblock %}
