{% extends "layouts/base.html.twig" %}
{% block content %}
<style>
   .alert.error {
      white-space: break-spaces;
   }
</style>
	<div class="smallContainer">
		<h1>Mon compte</h1>
		<div class="userProfile">
			{% include "includes/user-card.html.twig" with user %}
		</div>
		<nav class="shortcutMenu alert neutral">
			<ul>
				<li><a class="link" href="#password">Mot de passe</a></li>
				<li><a class="link" href="#avatar">Avatar</a></li>
				<li><a class="link" href="#email">Adresse e-mail</a></li>
				<li><a class="link" href="#preferences">Préférences</a></li>
				<li><a class="link" href="#role">Accès</a></li>
				<li><a class="link" href="#role">Sanctions</a></li>
			</ul>
		</nav>
		<section class="sectionBlock myAccount" id="password">
			<h2 class="title">Modifier mon mot de passe</h2>
			<form action="MyAccount.php" class="content" autocomplete="off" method="POST" data-form-schema-validation="password">
				<script type="text/schema" data-form-schema="password">
               return z.object({
                  password: z.string().min(1, {error: "feffe" }),
                  passwordConfirmation: z.string("rrrr")
               }).refine((data) => data.password === data.passwordConfirmation, {
                  error: "Les mots de passe ne correspondent pas",
                  path: ['password']
               })
				</script>
				<input type="hidden" name="dataToEdit" value="password"/>
            <p class="alert error" data-form-error="password">{{ form_error_messages_triggered.password|map(p => "• #{p}")|join('\n') }}</p>
				{% if form_id_updated == "password" and form_error_messages_triggered.password|length == 0 %}
					<p class="alert success">Mise à jour réussie</p>
				{% endif %}
				<div class="gridForm">
					<div class="inputContainer row">
						<label for="newPassword">Nouveau mot de passe</label>
						<input type="password" autocomplete="new-password" style="flex-grow: 1" data-input-toggle-visibility name="password" id="newPassword">
					</div>
					<div class="inputContainer row">
						<label for="passwordConfirmation">Confirmer mot de passe</label>
						<input type="password" style="flex-grow: 1" data-input-toggle-visibility name="passwordConfirmation" id="passwordConfirmation">
					</div>
               <div class="inputContainer">
                  <input type="submit" class="fit primaryButton" name="sent" value="Modifier">
               </div>
            </div>
			</form>
		</section>
		<section class="sectionBlock myAccount" id="avatar">
			<h2 class="title">Modifier l'avatar</h2>
         <form action="./MyAccount.php" enctype="multipart/form-data" class="content" novalidate method="POST" data-form-schema-validation="avatar">
            <script type="text/schema" data-form-schema="avatar">
               return z.object({
                  avatar: z.file()
                        .min(1)
                        .max({{ avatar_requirements.maxSize }})
                        .mime("{{ avatar_requirements.mimeTypes }}".split(","),
                           { error: "{{ form_error_messages.avatar.notJPEG }}" }
                        )
               })
				</script>
				<input type="hidden" name="dataToEdit" value="avatar"/>
            <p class="alert error" data-form-error="avatar">{{ form_error_messages_triggered.avatar|map(p => "• #{p}")|join('\n') }}</p>
				{% if form_id_updated == "avatar" and form_error_messages_triggered.avatar|length == 0 %}
					<p class="alert success">Mise à jour réussie. Si le changement n'est
pas visible instantanément, appuyez sur F5 pour mettre à jour votre avatar</p>
				{% endif %}
            <div class="notes">
					<p class="title">Remarques :</p>
					<ul>
						<li>L'image étant rognée, préférez un format rectangulaire</li>
						<li>L'image doit être au format .jpg / .jpeg</li>
						<li>L'image doit avoir une taille inférieure à 1 Mo</li>
					</ul>

				</div>
            <table class="inputFileContainer">
               <thead>
                  <tr>
                     <th>Nouvelle image</th>
                     <th>Image actuelle</th>
                  </tr>
               </thead>
               <tbody>
                  <tr style="position: relative">
                     <td>
                     <img data-preview-upload="avatar" alt="" class="max-w-full max-h-full">
                        <div class="arrowIcon">
                           <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path></svg>
                        </div>
                     </td>
                     <td>
                        <img src="{{ user.avatar }}" alt="Avatar de {{ user.pseudo }}">
                     </td>
                  </tr>
                  <tr>
                     <td colspan="2">
                        <div class="labelWrapper">
                           <label class="primaryButton">
                              Sélectionner un avatar
                              <input type="file" name="avatar" accept="{{ avatar_requirements.mimeTypes }}" data-upload-input id="avatar">
                           </label>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>

            <div class="inputContainer">
					<input type="submit" class="fit primaryButton" name="sent" value="Modifier">
				</div>
         </form>
		</section>
		<section class="sectionBlock myAccount" id="email">
			<h2 class="title">Modifier mon adresse e-mail</h2>
			<form action="MyAccount.php" class="content" novalidate method="POST" data-form-schema-validation="email">
				<script type="text/schema" data-form-schema="email">
               return z.object({
                  email: z.email({ error:"Vous devez mettre une adresse e-mail valide"}),
               })
				</script>
				<input type="hidden" name="dataToEdit" value="email"/>
				<p class="alert error" data-form-error="email">{{ form_error_messages_triggered.email|map(p => "• #{p}")|join('\n') }}</p>
				{% if form_id_updated == "email" and form_error_messages_triggered.email|length == 0 %}
					<p class="alert success">Mise à jour réussie</p>
				{% endif %}
				<div class="inputContainer row">
					<label for="newEmail">Adresse e-mail</label>
					<input type="email" style="flex-grow: 1" value="{{ user.email }}" name="newEmail" id="newEmail">
				</div>
				<div class="notes">
					<p class="title">Remarques :</p>
					<ul>
						<li>Si vous changez votre adresse, un e-mail de confirmation sera envoyé sur votre nouvelle adresse pour vérifier sa validité</li>
						<li>Vous serez également automatiquement déconnecté et votre compte temporairement désactivé jusqu'à
							ce que la procédure soit complétée</li>
						<li>
							Le changement sera annulé si vous n'utilisez pas le lien de confirmation dans les 24 heures
							qui suivent
						</li>
					</ul>
				</div>
				<div class="inputContainer">
					<input type="submit" class="fit primaryButton" name="sent" value="Modifier">
				</div>
			</form>
		</section>
		<section class="sectionBlock myAccount" id="preferences">
			<h2 class="title">Mes préférences</h2>
		</section>
		<section class="sectionBlock myAccount" id="role">
			<h2 class="title">Accès aux fonctionnalités avancées</h2>
			<div class="content">
				<div class="alert info">
					{% if user.advanced_features == "yes" %}
						<p>Vous avez accès aux fonctions avancées</p>
					{% else %}
						<p>Vous n'avez pas accès aux fonctions avancées</p>
					{% endif %}
				</div>
				<p>
					<strong>Pour rappel,
					</strong>
					les fonctionnalités avancées sont :</p>
				<ul>
					<li>La création de sujets</li>
					<li>L'édition de ses propres sujets</li>
					<li>L'intégration de n'importe quel média au sein des messages et l'accès aux
																								fonctionnalités d'upload</li>
				</ul>

				<p>Ces fonctionnalités ne sont pas disponibles dès l'inscription (sauf
																				parrainage) afin d'empêcher flood et affichage de contenu inapproprié par des individus
																				malveillants. Vous pouvez toutefois demander accès à ces fonctionnalités à l'administration après
																				avoir été actif durant un certain temps (les décisions se font au cas par cas).</p>
			</div>
		</section>
		<section class="sectionBlock myAccount" id="sanctions">
			<h2 class="title">Historique des sanctions</h2>
			<div class="content">
				{% if user.list_sentences %}
					<ul>
						{% for sentence in user.list_sentences %}
							<li></li>
						{% endfor %}
					</ul>
				{% else %}
					<div class="alert info">
						<p>Vous n'avez jamais été sanctionné(e).</p>
					</div>
				{% endif %}
			</div>
		</section>
	</div>
{% endblock %}
