{% extends "layouts/base.html.twig" %}

{% block content %}
	{{ dump(list_topics)}}
   {% include "includes/pagination.html.twig" with {
      "base_url": "./Forum.php",
   } %}
	<ul id="articlesPoolIndex" class="large">
		{% for topic in list_topics %}
         {% set titleAttr = topic.title ~ " par " ~ topic.author %}
			<li class="topic-item articleThumbnail topic" style="background-image: url('{{ topic.thumbnail }}');">
				<div class="thumbnailTime">
					<p>
						<i class="icon-general_time" alt="Date du dernier message"></i>
						<time title="Dernier message posté par {{ topic.lastAuthor }} à {{ topic.lastPostDate|date("d/m/Y H\\hi") }}" datetime="{{ topic.lastPostDate }}">{{ topic.lastPostDate|date("d/m/Y \\à\\ H\\hi") }}</time>
					</p>
				</div>
				<div class="captionThumbnail">
					<p>
               {# Article: Star Wars Outlaws - Que vaut le portage Switch 2? (par Ataru) #}
						<a tabIndex="-1" href="{{ topic.linkTopic }}" title="{{ titleAttr }}">{{ topic.title }}</a>
                  <a tabIndex="-1" href="{{ topic.linkTopic }}" class="small">Par {{ topic.author }}</a>
               </p>
				</div>
				<a href="{{ topic.linkTopic }}" class="thumbnailClick" title="{{ titleAttr }}"></a>
			</li>
		{% else %}
			<li>Aucun sujet de discussion n'a été trouvé</li>
		{% endfor %}
	</ul>
   {% include "includes/pagination.html.twig" with {
      "base_url": "./Forum.php",
   } %}
   <a href="./SearchArticles.php" class="filterLink">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
			<path d="M8.25 10.875a2.625 2.625 0 1 1 5.25 0 2.625 2.625 0 0 1-5.25 0Z"></path>
			<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.125 4.5a4.125 4.125 0 1 0 2.338 7.524l2.007 2.006a.75.75 0 1 0 1.06-1.06l-2.006-2.007a4.125 4.125 0 0 0-3.399-6.463Z" clip-rule="evenodd"></path>
		</svg>

		<span>Chercher</span>
	</a>
{% endblock %}
