<section class="sectionBlock">
   <p class="title">Pages</p>

   <div class="content">
      <div class="notes">
         <p class="title">Remarques :</p>
         <ul>
            <li>Une fois publié, vous ne pourrez plus réordonner les pages de l'article</li>
            <li>Une fois publié, vous ne pourrez pas supprimer les pages de l'article</li>
         </ul>
      </div>
      <table class="tableSegments">
      <thead>
         {% if article.is_published == false %}
         <th style="width: 40px;"></th>
         {% endif %}
         <th style="width: 50px;">Ordre</th>
         <th style="min-width: 150px;">Nom</th>
         {% if article.is_published == false %}
         <th style="min-width: 150px;"></th>
         {% endif %}
      </thead>
      <tbody {{ (article.is_published or article.segments|length == 0) ? "" : "data-sortable-list='{}'" }}>
         {% for segment in article.segments %}
            <tr data-segment-id="{{ segment.id_segment }}" data-article-id="{{ segment.id_article }}">
               {% if article.is_published == false %}
                  <td style="vertical-align: top">
                     <span class="dragHandle" title="Réordonner">
                        <i class="icon-general_menu"></i>
                     </span>
                  </td>
               {% endif %}
               <td style="vertical-align: top;">
                  <span data-segment-index>
                     {{ loop.index }}
                  </span>
               </td>
               <td style="vertical-align: top;">
                  <span data-segment-index>
                     {{ segment.title ? segment.title : "Sommaire" }}
                  </span>
               </td>
               {% if article.is_published == false %}
                  <td style="text-align: right;">
                     <div class="pageOptions">
                        <a class="secondaryButton" href="./EditSegment.php?id_segment={{ segment.id_segment }}">Éditer</a>
                        <button command="show-modal" commandfor="delete-page" data-page-data='{"id": {{ segment.id_segment }}, "title": "{{ segment.title }}"}' class="danger" type="button">Supprimer</button>
                     </div>
                  </td>
               {% endif %}
            </tr>
         {% else %}
            <tr>
               <td colspan="5">
                  <p class="alert info">Cet article n'a pas de pages.</p>
               </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
      {% if article.is_published == false %}
         <a class="primaryButton" href="./NewSegment.php?id_article={{ article.id_article }}">Ajouter une nouvelle page</a>
      {% endif %}
      <a class="secondaryButton" target="_blank" href="{{ article.preview_url }}">
         {% if article.is_published %}
            Accéder à l'article
         {% else %}
            Aperçu de l'article complet
         {% endif %}
      </a>
   </div>
</section>
